In [272]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pandas_profiling import ProfileReport

from sklearn.model_selection import train_test_split
import sklearn.linear_model
import sklearn.metrics as met
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_selection import RFE

from scipy import stats

###1. Importing and cleaning data
#### 1.1 Importing Data

In [250]:
# behaviour = pd.read_csv('CustomerBehaviorData.csv')
# consumption = pd.read_csv('CreditConsumptionData.csv')
# customer = pd.read_csv('CustomerDemographics.csv')


behaviour = pd.read_csv('https://github.com/lalit-kumr/credit_card_consumption/blob/main/CustomerBehaviorData.csv?raw=true')
consumption = pd.read_csv('https://github.com/lalit-kumr/credit_card_consumption/raw/main/CreditConsumptionData.csv')
customer = pd.read_csv('https://github.com/lalit-kumr/credit_card_consumption/raw/main/CustomerDemographics.csv')

####1.2 Cleaning Customer df

In [251]:
#finding NaN values in customer df
# customer.isna().sum()
#Droppping observations having NaN values
customer.dropna(inplace=True)
# customer.isna().sum()

####1.3 Cleaning behaviour df

In [252]:
#Droppping observations having NaN values
behaviour.dropna(inplace=True)
# behaviour.isna().sum()

####1.4 Cleaning consumption df

In [253]:
consumption.isna().sum() # no NaN values except the ones we have to predict

customer_id          0
cc_cons_target    5000
dtype: int64

###2. Merging and cleaning the dataframes

####2.1 Merging df

In [254]:
# - now we will merge all three dataframes on the basis of customer_id.
# - first we will merge customer and behaviour dataframes as customer_be
# - next we will merge the cosumption dataframe with the custoemr_be df and store the resultant dataframe in **final**


customer_behaviour = pd.merge(left=customer, right=behaviour, on='customer_id')
final = pd.merge(left=customer_behaviour, right=consumption, on='customer_id')

####2.2 summing features and removing orignal features

In [255]:
#Total investments
final['investment'] = final['investment_1']+final['investment_2']+final['investment_3']+final['investment_4']
#Total debit amount
final["Total_debit_amount"]=final['debit_amount_apr']+final['debit_amount_may']+final['debit_amount_jun']
#Total Credit Amount
final["Total_credit_amount"]=final['credit_amount_apr']+final['credit_amount_may']+final['credit_amount_jun']
#Total Max Credit amount
final["Total_max_credit_acmout"]=final['max_credit_amount_apr']+final['max_credit_amount_may']+final['max_credit_amount_jun']
#Total Active Loan
final["Totat_active_loan"]= final['personal_loan_active'] + final['vehicle_loan_active']
#Toatal Closed Loan
final["Total_closed_loan"]= final['personal_loan_closed'] + final['vehicle_loan_closed']
#Credit Card expenditure total
final['creditcard_exp']= final['cc_cons_apr'] + final['cc_cons_may'] + final['cc_cons_jun'] 
#Debit Card expenditure total
final['debitcard_exp']= final['dc_cons_apr'] + final['dc_cons_may'] + final['dc_cons_jun']
#credit card use count total
final['cc_count']=final['cc_count_apr']+final['cc_count_may']+final['cc_count_jun']
# debit card use count total
final['dc_count']=final['dc_count_apr']+final['dc_count_may']+final['dc_count_jun']
#debit payments count total
final['debit_count']=final['debit_count_apr']+ final['debit_count_may']+ final['debit_count_jun']
#credit payments count total
final['credit_count']=final['credit_count_apr']+ final['credit_count_may']+ final['credit_count_jun']

extra = ['investment_1','investment_2','investment_3','investment_4',
         'debit_amount_apr','debit_amount_may','debit_amount_jun',
         'credit_amount_apr','credit_amount_may','credit_amount_jun',
         'max_credit_amount_apr','max_credit_amount_may','max_credit_amount_jun',
         'personal_loan_active','vehicle_loan_active',
         'personal_loan_closed','vehicle_loan_closed',
         'cc_cons_apr','cc_cons_may','cc_cons_jun',
         'dc_cons_apr','dc_cons_may','dc_cons_jun',
         'cc_count_apr','cc_count_may','cc_count_jun',
         'dc_count_apr','dc_count_may','dc_count_jun',
         'debit_count_apr','debit_count_may','debit_count_jun',
         'credit_count_apr','credit_count_may','credit_count_jun'
         ]

final.drop(labels=extra,axis=1,inplace=True)
# final.head(3)

####2.3 Encoding categorical variables

In [256]:
#using pd.get_dummies to encode categorical variables in continunous variables and replace the categorical variables.
final = pd.get_dummies(final)

###3. EDA
####3.1 Profile report
After importing the data, the first tasks is to detect and treat outliers and balnk values. For that reason we will first generate a profile report of our dataframe by using pandas profiling package.

In [257]:
# profile_report = ProfileReport(final)
# profile_report.to_widgets()

#### 3.2 Data. describe()

In [258]:
final.describe()

        customer_id           age  ...  income_MEDIUM  loan_enq_Y
count  19988.000000  19988.000000  ...   19988.000000     19988.0
mean    9998.746048     47.676506  ...       0.638833         1.0
std     5773.520940     30.367037  ...       0.480351         0.0
min        0.000000     25.000000  ...       0.000000         1.0
25%     4998.750000     33.000000  ...       0.000000         1.0
50%     9998.500000     40.000000  ...       1.000000         1.0
75%    14997.250000     53.000000  ...       1.000000         1.0
max    19999.000000    223.000000  ...       1.000000         1.0

[8 rows x 30 columns]

###4. Data Cleaning-2

####4.1 Outlier Removal
To remove outliers we use scipy.stats.mstats.winsorize function.

In [259]:
#outlier removal with limits:
#     lower limit: 5% of range
#     upper limit: 95% of range
from scipy.stats import mstats

for x in final.columns:
    final[x] = mstats.winsorize(final[x], limits=[0.05, 0.05])

####4.2 Splitting the dataframe in df_predict and df_train for the data to predict and data to train on respectively

Splitting the rows into df_predict and df_train. df_predict contains cc_cons_target having NA values. These are the customers that we have to predit consumption for.

df_train contains all rows that have a numerical value in cc_cons_target. this df will train out liner regression algo

In [260]:
#filtering all the rows from final that contain NaN values in cc_cons_target and storing those rows in df_predict.
df_predict = final[final.cc_cons_target.isna()]
#dropping the NaN values of cc_cons_target 
df_predict.drop(labels='cc_cons_target',axis=1,inplace=True)

# droppping  all the rows that are in the df_predict dataframe and storing the result in df_train
df_train = final.drop(df_predict.index)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

####4.3 Standardization

###5. VIF calculations and removing multicollinear features

In [261]:
#R^2 value is determined to find out how well an independent variable is described by the other independent variables. 
#A high value of R^2 means that the variable is highly correlated with the other variables.
#So, the closer the R^2 value to 1, the higher the value of VIF and
# the higher the multicollinearity with the particular independent variable.


# vif = 1/(1-r^2)


# VIF starts at 1 and has no upper limit
# VIF = 1, no correlation between the independent variable and the other variables
# VIF exceeding 5 or 10 indicates high multicollinearity between this independent variable and the others




# Import library for VIF
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)


X = df_train.iloc[:,:-1]
calc_vif(X)



#Fixing Multicollinearity

# #Dropping one of the correlated features will help in bringing down the multicollinearity between correlated features:
# X = df.drop(['Age','Salary'],axis=1)
# calc_vif(X)

/usr/local/lib/python3.7/dist-packages/statsmodels/regression/linear_model.py:1636: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
/usr/local/lib/python3.7/dist-packages/statsmodels/stats/outliers_influence.py:185: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

                       variables       VIF
0                    customer_id  1.001300
1                            age  2.001917
2               emp_tenure_years  2.003240
3               tenure_with_bank  1.001844
4                    region_code  1.002175
5               net_banking_flag  1.001491
6   avg_days_between_transaction  1.001309
7                       card_lim  1.000973
8                     emi_active  1.002171
9                 cc_cons_target  1.001473
10                    investment  1.001611
11            Total_debit_amount  1.001806
12           Total_credit_amount  1.001962
13       Total_max_credit_acmout  1.002428
14             Totat_active_loan  0.000000
15             Total_closed_loan  0.000000
16                creditcard_exp  1.002393
17                 debitcard_exp  1.000941
18                      cc_count  1.000689
19                      dc_count  1.002053
20                   debit_count  1.000972
21                  credit_count  1.001975
22          account_type_current       inf
23           account_type_saving       inf
24                      gender_F       inf
25                      gender_M       inf
26                   income_HIGH       inf
27                    income_LOW       inf
28                 income_MEDIUM       inf

####5.2 removing columns having high vif values

In [262]:
#dropping 'account_type_saving','gender_F','income_HIGH','emp_tenure_years','income_LOW','customer_id'
df_train.drop(labels=['account_type_saving','gender_F','income_HIGH','emp_tenure_years','income_LOW','customer_id']
              ,axis=1,inplace=True)
df_predict.drop(labels=['account_type_saving','gender_F','income_HIGH','emp_tenure_years','income_LOW','customer_id']
              ,axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [263]:
##df_train.columns.difference(['cc_cons_target'])

###6 Splitting x and y teach data into train and test data for model building and model testing

In [264]:
df_train_x = df_train[df_train.columns.difference(['cc_cons_target'])]
df_train_y = df_train[['cc_cons_target']]


x_train, x_test, y_train, y_test = train_test_split(df_train_x, df_train_y, test_size=0.25, random_state=72)

###7. Scaling Data

In [265]:
# from sklearn.preprocessing import LabelEncoder,MinMaxScaler,StandardScaler


# scaler = StandardScaler()
# X = scaler.fit_transform(x_train)
# x_train = pd.DataFrame(X, columns=x_train.columns)

# x_train

# # sqrt of whole dataset
# np.log(x_train)


# # for x in x_train.columns:
# #   if x_train[x].mean() > 1000:
# #     x_train[x]=np.log(x_train[x])

y_train = np.log(y_train)
y_test = np.log(y_test)

###9. Implementing a linear regression model

####9.1 RFE and selecting features

In [266]:
from sklearn.tree import DecisionTreeRegressor
dt_reg = DecisionTreeRegressor(random_state=0)

lr = LinearRegression()
rfe = RFE(estimator=dt_reg, n_features_to_select=5)
rfe.fit(x_train, y_train)

rfe.ranking_


# selecting features given by RFE
f = rfe.get_support(1) #the most important features
x_train_select = x_train[x_train.columns[f]] # final features`
x_train_select.head(2)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

      Total_credit_amount  Total_debit_amount  ...  creditcard_exp  investment
8517             176025.0           143008.58  ...        27771.47  1509658.14
665              199287.5           259292.91  ...        26058.00   607037.55

[2 rows x 5 columns]

In [267]:
#selecting the same features in test data
x_test_select = x_test[x_test.columns[f]]
x_test_select.head(2)

      Total_credit_amount  Total_debit_amount  ...  creditcard_exp  investment
6853            203388.25           295285.64  ...        31761.18   205673.25
1323            315668.77           137221.40  ...       105645.91   409703.00

[2 rows x 5 columns]

####9.2 OLS regression

In [268]:
### OLS regression
import statsmodels.api as sm
# y_train = y_train.reindex(x_train.index)
mod = sm.OLS(y_train,x_train_select)

res = mod.fit()

print(res.summary())



#best ols results with np.log(y_train) and rfe with DTreg features = 10
#best ols results with np.log(y_train) and rfe with DTreg features = 15

                                 OLS Regression Results
=======================================================================================
Dep. Variable:         cc_cons_target   R-squared (uncentered):                   0.897
Model:                            OLS   Adj. R-squared (uncentered):              0.897
Method:                 Least Squares   F-statistic:                          1.960e+04
Date:                Sat, 21 Aug 2021   Prob (F-statistic):                        0.00
Time:                        08:14:05   Log-Likelihood:                         -28863.
No. Observations:               11246   AIC:                                  5.774e+04
Df Residuals:                   11241   BIC:                                  5.777e+04
Df Model:                           5
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Total_credit_amount      1.003e-05   1.97e-07     50.818      0.000    9.65e-06    1.04e-05
Total_debit_amount       1.094e-05   2.28e-07     48.029      0.000    1.05e-05    1.14e-05
Total_max_credit_acmout  1.515e-05   3.04e-07     49.877      0.000    1.46e-05    1.57e-05
creditcard_exp           4.165e-05   9.32e-07     44.681      0.000    3.98e-05    4.35e-05
investment               1.103e-06    4.4e-08     25.079      0.000    1.02e-06    1.19e-06
==============================================================================
Omnibus:                      204.196   Durbin-Watson:                   1.858
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              215.228
Skew:                          -0.339   Prob(JB):                     1.84e-47
Kurtosis:                       3.005   Cond. No.                         27.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

####9.3 using ols regresssion to predit values

In [271]:
### Predicting the values for test dataset and checking the accuracy of the model
res = mod.predict(x_test_select,exog=y_test)

ValueError: ignored

### Applying liner regresssion on selected features

In [274]:
from sklearn.linear_model import LassoCV
reg = LassoCV(cv=5, random_state=0).fit(x_train_select, y_train)
reg.score(x_train_select, y_train)

# reg.predict(X[:1,])

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:1088: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.0006897356163424462

In [273]:
lr = LinearRegression()
# training the linear regression model on x_train_select and y_train 
lr.fit(x_train, y_train.iloc[:,0])

# predicting the values of x_train_select and storing them in y_hat_train
y_hat_train = lr.predict(x_train)

## Checking the accuracy of the train data predictions
#This is a value between [0 = no-fit] and [1 = perfect fit ]
r_sq = met.r2_score(y_pred=y_hat_train,y_true= y_train.iloc[:,0])
print('The accuracy of the model in r^2 :',r_sq)


#mae
mae = met.mean_absolute_error(y_pred=y_hat_train,y_true= y_train)
print('The accuracy of the model in mae :',mae)


# #MAPE
# y_diff = y_hat_train - y_train
# # y_diff  = np.abs(y_diff)/np.max(y_train)#/ np.maximum(np.abs(y_diff))

# maperror = (np.sum(np.abs((y_hat_train - y_train))/y_train))/y_train.count()*100
# print('The accuracy of the model in mape:',maperror,'%')

NameError: ignored

In [237]:
lr.coef_

array([ 0.        ,  0.        ,  0.        , -0.        ,  0.        ,
       -0.        , -0.        , -0.        , -0.00667881,  0.        ,
        0.        ,  0.        ,  0.        , -0.        , -0.        ,
        0.        ,  0.        , -0.        ,  0.0027131 ,  0.        ,
        0.        , -0.        ,  0.        ])

In [182]:
np.exp(y_hat_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: overflow encountered in exp
  """Entry point for launching an IPython kernel.

array([inf, inf, inf, ..., inf, inf, inf])

### Predicting the values for test dataset and checking the accuracy of the model

In [183]:
y_hat_test = lr.predict(x_test_select)

# checking the accuracy of test_data predictions
r_sq = met.r2_score(y_pred=y_hat_test, y_true= y_test)
print('The accuracy of the model in r^2 :',r_sq)

met.mean_squared_error(y_pred=y_hat_test, y_true= y_test)

# mae = met.mean_absolute_error(y_pred=y_hat_test,y_true= y_test)

# # #mape calculations
# y_diff = y_test - y_hat_test
# y_diff  = np.abs(y_diff)/np.abs(y_test)
# print('The accuracy of the model in mape:',np.average(y_diff)*100,'%')

# print('The accuracy of the model in mae :',mae)

The accuracy of the model in r^2 : -147519.1373818071

331906.703219666