In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pandas_profiling import ProfileReport

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.metrics as met
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_selection import RFE

from scipy import stats

## Importing Data

In [5]:
# behaviour = pd.read_csv('CustomerBehaviorData.csv')
# consumption = pd.read_csv('CreditConsumptionData.csv')
# customer = pd.read_csv('CustomerDemographics.csv')

In [6]:
behaviour = pd.read_csv('https://github.com/lalit-kumr/credit_card_consumption/blob/main/CustomerBehaviorData.csv?raw=true')
consumption = pd.read_csv('https://github.com/lalit-kumr/credit_card_consumption/raw/main/CreditConsumptionData.csv')
customer = pd.read_csv('https://github.com/lalit-kumr/credit_card_consumption/raw/main/CustomerDemographics.csv')

### Cleaning Customer df

In [7]:
#finding NaN values in customer df
customer.isna().sum()

customer_id                     0
account_type                    1
gender                          1
age                             0
income                          1
emp_tenure_years                0
tenure_with_bank                0
region_code                     1
net_banking_flag                0
avg_days_between_transaction    3
dtype: int64

In [8]:
#Droppping observations having NaN values
customer.dropna(inplace=True)
customer.isna().sum()

customer_id                     0
account_type                    0
gender                          0
age                             0
income                          0
emp_tenure_years                0
tenure_with_bank                0
region_code                     0
net_banking_flag                0
avg_days_between_transaction    0
dtype: int64

### Cleaning behaviour df

In [9]:
behaviour.isna().sum()

customer_id              0
cc_cons_apr              0
dc_cons_apr              0
cc_cons_may              1
dc_cons_may              0
cc_cons_jun              0
dc_cons_jun              1
cc_count_apr             1
cc_count_may             0
cc_count_jun             0
dc_count_apr             0
dc_count_may             0
dc_count_jun             0
card_lim                 0
personal_loan_active     0
vehicle_loan_active      0
personal_loan_closed     1
vehicle_loan_closed      0
investment_1             0
investment_2             0
investment_3             2
investment_4             0
debit_amount_apr         0
credit_amount_apr        0
debit_count_apr          1
credit_count_apr         0
max_credit_amount_apr    0
debit_amount_may         0
credit_amount_may        0
credit_count_may         0
debit_count_may          0
max_credit_amount_may    0
debit_amount_jun         0
credit_amount_jun        0
credit_count_jun         0
debit_count_jun          0
max_credit_amount_jun    0
loan_enq                 2
emi_active               1
dtype: int64

In [10]:
#Droppping observations having NaN values
behaviour.dropna(inplace=True)
behaviour.isna().sum()

customer_id              0
cc_cons_apr              0
dc_cons_apr              0
cc_cons_may              0
dc_cons_may              0
cc_cons_jun              0
dc_cons_jun              0
cc_count_apr             0
cc_count_may             0
cc_count_jun             0
dc_count_apr             0
dc_count_may             0
dc_count_jun             0
card_lim                 0
personal_loan_active     0
vehicle_loan_active      0
personal_loan_closed     0
vehicle_loan_closed      0
investment_1             0
investment_2             0
investment_3             0
investment_4             0
debit_amount_apr         0
credit_amount_apr        0
debit_count_apr          0
credit_count_apr         0
max_credit_amount_apr    0
debit_amount_may         0
credit_amount_may        0
credit_count_may         0
debit_count_may          0
max_credit_amount_may    0
debit_amount_jun         0
credit_amount_jun        0
credit_count_jun         0
debit_count_jun          0
max_credit_amount_jun    0
loan_enq                 0
emi_active               0
dtype: int64

### Cleaning consumption df

In [11]:
consumption.isna().sum() # no NaN values except the ones we have to predict

customer_id          0
cc_cons_target    5000
dtype: int64

### Merging the dataframes 
- now we will merge all three dataframes on the basis of customer_id.
- first we will merge customer and behaviour dataframes as customer_be
- next we will merge the cosumption dataframe with the custoemr_be df and store the resultant dataframe in **final**

In [127]:
customer_behaviour = pd.merge(left=customer, right=behaviour, on='customer_id')
final = pd.merge(left=customer_behaviour, right=consumption, on='customer_id')
final.head(2)

   customer_id account_type gender  ...  loan_enq emi_active  cc_cons_target
0        19427      current      M  ...         Y    2646.72             NaN
1        16150      current      M  ...         Y    5469.79             NaN

[2 rows x 49 columns]

In [128]:
#Total investments
final['investment'] = final['investment_1']+final['investment_2']+final['investment_3']+final['investment_4']
#Total debit amount
final["Total_debit_amount"]=final['debit_amount_apr']+final['debit_amount_may']+final['debit_amount_jun']
#Total Credit Amount
final["Total_credit_amount"]=final['credit_amount_apr']+final['credit_amount_may']+final['credit_amount_jun']
#Total Max Credit amount
final["Total_max_credit_acmout"]=final['max_credit_amount_apr']+final['max_credit_amount_may']+final['max_credit_amount_jun']
#Total Active Loan
final["Totat_active_loan"]= final['personal_loan_active'] + final['vehicle_loan_active']
#Toatal Closed Loan
final["Total_closed_loan"]= final['personal_loan_closed'] + final['vehicle_loan_closed']
#Credit Card expenditure total
final['creditcard_exp']= final['cc_cons_apr'] + final['cc_cons_may'] + final['cc_cons_jun'] 
#Debit Card expenditure total
final['debitcard_exp']= final['dc_cons_apr'] + final['dc_cons_may'] + final['dc_cons_jun']

In [129]:
extra = ['investment_1','investment_2','investment_3','investment_4',
         'debit_amount_apr','debit_amount_may','debit_amount_jun',
         'credit_amount_apr','credit_amount_may','credit_amount_jun',
         'max_credit_amount_apr','max_credit_amount_may','max_credit_amount_jun',
         'personal_loan_active','vehicle_loan_active',
         'personal_loan_closed','vehicle_loan_closed',
         'cc_cons_apr','cc_cons_may','cc_cons_jun',
         'dc_cons_apr','dc_cons_may','dc_cons_jun'
         ]

In [130]:
final.drop(labels=extra,axis=1,inplace=True)

In [131]:
final.head(3)

   customer_id account_type  ... creditcard_exp  debitcard_exp
0        19427      current  ...       24433.29        8292.58
1        16150      current  ...       35898.73       13916.00
2        11749      current  ...       33973.99       71489.30

[3 rows x 34 columns]

### Profile report
After importing the data, the first tasks is to detect and treat outliers and balnk values. For that reason we will first generate a profile report of our dataframe by using pandas profiling package.\
Some info about the profiling package from their [website](https://pandas-profiling.github.io/pandas-profiling/docs/master/index.html):
pandas_profiling extends the pandas DataFrame with df.profile_report() for quick data analysis.For each column the following statistics - if relevant for the column type - are presented in an interactive HTML report:
- Type inference: detect the types of columns in a dataframe.
- Essentials: type, unique values, missing values
- Quantile statistics like minimum value, Q1, median, Q3, maximum, range, interquartile range
- Descriptive statistics like mean, mode, standard deviation, sum, median absolute deviation, coefficient of variation, kurtosis, skewness
- Most frequent values
- Histogram
- Correlations highlighting of highly correlated variables, Spearman, Pearson and Kendall matrices
- Missing values matrix, count, heatmap and dendrogram of missing values
- Text analysis learn about categories (Uppercase, Space), scripts (Latin, Cyrillic) and blocks (ASCII) of text data.
- File and Image analysis extract file sizes, creation dates and dimensions and scan for truncated images or those containing EXIF information.

#### Generating profile report

In [72]:
# profile_report = ProfileReport(final)
# profile_report.to_widgets()

### EDA

In [74]:
final.select_dtypes(include=['int64','float64'])

       emp_tenure_years  region_code  ...  creditcard_exp  debitcard_exp
0                  30.1        628.0  ...        24433.29        8292.58
1                  14.4        656.0  ...        35898.73       13916.00
2                   4.8        314.0  ...        33973.99       71489.30
3                   9.6        614.0  ...        22919.31       17534.18
4                  12.0        750.0  ...        38417.74       34300.86
...                 ...          ...  ...             ...            ...
19983              32.2        354.0  ...        74132.74       13394.04
19984              19.8        809.0  ...        21791.77        8261.00
19985              18.4        466.0  ...        13841.01       97476.49
19986               6.0        619.0  ...        35217.81       16116.46
19987              78.4        882.0  ...        56652.06       18963.77

[19988 rows x 14 columns]

### Splitting the dataframe in df_predict and df_train for the data to predict and data to train on respectively

Splitting the rows into df_predict and df_train. df_predict contains cc_cons_target having NA values. These are the customers that we have to predit consumption for.

df_train contains all rows that have a numerical value in cc_cons_target. this df will train out liner regression algo

In [132]:
#filtering all the rows from final that contain NaN values in cc_cons_target and storing those rows in df_predict.
df_predict = final[final.cc_cons_target.isna()]
#dropping the NaN values of cc_cons_target 
df_predict.drop(labels='cc_cons_target',axis=1,inplace=True)

# droppping  all the rows that are in the df_predict dataframe and storing the result in df_train
df_train = final.drop(df_predict.index)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [133]:
df_train.shape

(14995, 34)

### Encoding categorical variables of final_train

In [134]:
#using pd.get_dummies to encode categorical variables in continunous variables and replace the categorical variables.
df_train = pd.get_dummies(df_train)
df_train.loc[:,['account_type_current','account_type_saving','gender_F','gender_M','income_HIGH','income_LOW','income_MEDIUM','loan_enq_Y']]

       account_type_current  account_type_saving  ...  income_MEDIUM  loan_enq_Y
104                       1                    0  ...              1           1
105                       1                    0  ...              0           1
106                       1                    0  ...              1           1
107                       1                    0  ...              1           1
108                       1                    0  ...              1           1
...                     ...                  ...  ...            ...         ...
15094                     1                    0  ...              0           1
15095                     1                    0  ...              1           1
15096                     1                    0  ...              1           1
15097                     1                    0  ...              1           1
15098                     1                    0  ...              1           1

[14995 rows x 8 columns]

### Outlier Removal

To remove outliers we use scipy.stats.mstats.winsorize function.

Winsorizing or winsorization is the transformation of statistics by limiting extreme values in the statistical data to reduce the effect of possibly spurious outliers. It is named after the engineer-turned-biostatistician Charles P. Winsor (1895â€“1951)

In [135]:
#outlier removal with limits:
#     lower limit: 5% of range
#     upper limit: 95% of range
from scipy.stats import mstats

for x in df_train.columns:
    df_train[x] = mstats.winsorize(df_train[x], limits=[0.05, 0.05])

## applying the same aboe steps of missing value removal and outlier imputation to df_predict

In [136]:
df_predict = pd.get_dummies(df_predict)
df_predict.loc[:,['account_type_current','account_type_saving','gender_F','gender_M','income_HIGH','income_LOW','income_MEDIUM','loan_enq_Y']]

       account_type_current  account_type_saving  ...  income_MEDIUM  loan_enq_Y
0                         1                    0  ...              1           1
1                         1                    0  ...              1           1
2                         1                    0  ...              1           1
3                         1                    0  ...              1           1
4                         1                    0  ...              0           1
...                     ...                  ...  ...            ...         ...
19983                     1                    0  ...              1           1
19984                     1                    0  ...              1           1
19985                     1                    0  ...              1           1
19986                     1                    0  ...              0           1
19987                     1                    0  ...              0           1

[4993 rows x 8 columns]

In [137]:
for x in df_predict.columns:
    df_predict[x] = mstats.winsorize(df_predict[x], limits=[0.05, 0.05])

### Standardization

## Implementing a linear regression model

In [ ]:
##df_train.columns.difference(['cc_cons_target'])

### Splitting x and y teach data into train and test data for model building and model testing

In [141]:
df_train_x = df_train[df_train.columns.difference(['cc_cons_target'])]
df_train_y = df_train[['cc_cons_target']]


x_train, x_test, y_train, y_test = train_test_split(df_train_x, df_train_y, test_size=0.25, random_state=72)

### Scaling Data

In [156]:
# from sklearn.preprocessing import LabelEncoder,MinMaxScaler,StandardScaler


# scaler = StandardScaler()
# X = scaler.fit_transform(x_train)
# x_train = pd.DataFrame(X, columns=x_train.columns)

# x_train

# sqrt of whole dataset
np.log(x_train)


# for x in x_train.columns:
#   if x_train[x].mean() > 1000:
#     x_train[x]=np.log(x_train[x])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [163]:
y_train = np.log(y_train)
y_test = np.log(y_test)

### RFE and selecting features

In [162]:
from sklearn.tree import DecisionTreeRegressor
dt_reg = DecisionTreeRegressor(random_state=0)

lr = LinearRegression()
rfe = RFE(estimator=dt_reg, n_features_to_select=10)
rfe.fit(x_train, y_train)

rfe.ranking_


# selecting features given by RFE
f = rfe.get_support(1) #the most important features
x_train_select = x_train[x_train.columns[f]] # final features`
x_train_select.head(2)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

      Total_credit_amount  Total_max_credit_acmout  ...  investment  region_code
8517            12.078381                11.946835  ...   14.227394        799.0
665             12.202504                12.197637  ...   13.316346        685.0

[2 rows x 10 columns]

In [164]:
#selecting the same features in test data
x_test_select = x_test[x_test.columns[f]]
x_test_select.head(2)

      Total_credit_amount  Total_max_credit_acmout  ...  investment  region_code
6853            203388.25                223559.11  ...   205673.25        867.0
1323            315668.77                 91587.00  ...   409703.00        249.0

[2 rows x 10 columns]

### Select k best - not used

In [54]:
from sklearn.feature_selection import SelectKBest, f_regression

x_train_select = SelectKBest(f_regression, k=5).fit_transform(x_train, y_train)
x_train_select.shape

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

(11246, 5)

### OLS regression

In [165]:
### OLS regression
import statsmodels.api as sm
# y_train = y_train.reindex(x_train.index)
mod = sm.OLS(y_train,x_train_select)

res = mod.fit()

print(res.summary())



#best ols results with np.log(y_train) and rfe with DTreg features = 10
#best ols results with np.log(y_train) and rfe with DTreg features = 15

                                 OLS Regression Results
=======================================================================================
Dep. Variable:         cc_cons_target   R-squared (uncentered):                   0.995
Model:                            OLS   Adj. R-squared (uncentered):              0.995
Method:                 Least Squares   F-statistic:                          2.269e+05
Date:                Fri, 20 Aug 2021   Prob (F-statistic):                        0.00
Time:                        14:25:05   Log-Likelihood:                          4725.6
No. Observations:               11246   AIC:                                     -9431.
Df Residuals:                   11236   BIC:                                     -9358.
Df Model:                          10
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Total_credit_amount         0.0452      0.002     20.024      0.000       0.041       0.050
Total_max_credit_acmout     0.0474      0.002     19.758      0.000       0.043       0.052
card_lim                    0.0172      0.002     10.825      0.000       0.014       0.020
creditcard_exp              0.0319      0.002     14.931      0.000       0.028       0.036
customer_id                 0.0168      0.002      9.548      0.000       0.013       0.020
debitcard_exp               0.0227      0.002     11.399      0.000       0.019       0.027
emi_active                  0.0067      0.001      6.166      0.000       0.005       0.009
emp_tenure_years        -3.433e-05      0.000     -0.245      0.807      -0.000       0.000
investment                  0.0146      0.001     11.116      0.000       0.012       0.017
region_code              2.993e-06   6.93e-06      0.432      0.666   -1.06e-05    1.66e-05
==============================================================================
Omnibus:                      102.654   Durbin-Watson:                   1.990
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               92.019
Skew:                           0.176   Prob(JB):                     1.04e-20
Kurtosis:                       2.730   Cond. No.                     1.15e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.15e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

### Applying liner regresssion on selected features

In [166]:
lr = LinearRegression()
# training the linear regression model on x_train_select and y_train 
lr.fit(x_train_select, y_train.iloc[:,0])

# predicting the values of x_train_select and storing them in y_hat_train
y_hat_train = np.log(lr.predict(x_train_select))

## Checking the accuracy of the train data predictions
#This is a value between [0 = no-fit] and [1 = perfect fit ]
r_sq = met.r2_score(y_pred=y_hat_train,y_true= y_train.iloc[:,0])
print('The accuracy of the model in r^2 :',r_sq)


#mae
mae = met.mean_absolute_error(y_pred=y_hat_train,y_true= y_train)
print('The accuracy of the model in mae :',mae)


# #MAPE
# y_diff = y_hat_train - y_train
# # y_diff  = np.abs(y_diff)/np.max(y_train)#/ np.maximum(np.abs(y_diff))

# maperror = (np.sum(np.abs((y_hat_train - y_train))/y_train))/y_train.count()*100
# print('The accuracy of the model in mape:',maperror,'%')

The accuracy of the model in r^2 : -92.4089811295283
The accuracy of the model in mae : 1.444292945834555

### Predicting the values for test dataset and checking the accuracy of the model

In [168]:
y_hat_test = lr.predict(x_test_select)

# checking the accuracy of test_data predictions
r_sq = met.r2_score(y_pred=y_hat_test, y_true= y_test)
print('The accuracy of the model in r^2 :',r_sq)

met.mean_squared_error(y_pred=y_hat_test, y_true= y_test)

# mae = met.mean_absolute_error(y_pred=y_hat_test,y_true= y_test)

# # #mape calculations
# y_diff = y_test - y_hat_test
# y_diff  = np.abs(y_diff)/np.abs(y_test)
# print('The accuracy of the model in mape:',np.average(y_diff)*100,'%')

# print('The accuracy of the model in mae :',mae)

The accuracy of the model in r^2 : -443674.9410112742

998229.9467211296

In [63]:
(np.sum(np.abs((y_hat_train - y_train))/y_train))/y_train.count()

ValueError: ignored