<a href="https://colab.research.google.com/github/lalit-kumr/credit_card_consumption/blob/main/Credit_card_final_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Steps
- Import libs
- Import data
- Clean both sets
- Merge the data sets
- Split data in numerical and categorical
- Outlier removal in both sets
- fill na
- splitting in train and predict
- Label encoding
- Join dataset
- Build model OLS
- Remove features having high p value
- Apply vif
- Drop vif unwanted variables one by one
- Log of y 
- OLS model again
- RFE
- Apply linear reg model

## 0. Importing libs

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Importing Data

In [3]:
# behaviour = pd.read_csv('CustomerBehaviorData.csv')
# consumption = pd.read_csv('CreditConsumptionData.csv')
# customer = pd.read_csv('CustomerDemographics.csv')


behaviour = pd.read_csv('https://github.com/lalit-kumr/credit_card_consumption/blob/main/CustomerBehaviorData.csv?raw=true')
consumption = pd.read_csv('https://github.com/lalit-kumr/credit_card_consumption/raw/main/CreditConsumptionData.csv')
customer = pd.read_csv('https://github.com/lalit-kumr/credit_card_consumption/raw/main/CustomerDemographics.csv')

## 2. Cleaning Data

In [4]:
#finding NaN values in customer df
# customer.isna().sum()
#Droppping observations having NaN values
customer.dropna(inplace=True)
customer.isna().sum()

customer_id                     0
account_type                    0
gender                          0
age                             0
income                          0
emp_tenure_years                0
tenure_with_bank                0
region_code                     0
net_banking_flag                0
avg_days_between_transaction    0
dtype: int64

In [5]:
#Droppping observations having NaN values
behaviour.dropna(inplace=True)
behaviour.isna().sum()

customer_id              0
cc_cons_apr              0
dc_cons_apr              0
cc_cons_may              0
dc_cons_may              0
cc_cons_jun              0
dc_cons_jun              0
cc_count_apr             0
cc_count_may             0
cc_count_jun             0
dc_count_apr             0
dc_count_may             0
dc_count_jun             0
card_lim                 0
personal_loan_active     0
vehicle_loan_active      0
personal_loan_closed     0
vehicle_loan_closed      0
investment_1             0
investment_2             0
investment_3             0
investment_4             0
debit_amount_apr         0
credit_amount_apr        0
debit_count_apr          0
credit_count_apr         0
max_credit_amount_apr    0
debit_amount_may         0
credit_amount_may        0
credit_count_may         0
debit_count_may          0
max_credit_amount_may    0
debit_amount_jun         0
credit_amount_jun        0
credit_count_jun         0
debit_count_jun          0
max_credit_amount_jun    0
loan_enq                 0
emi_active               0
dtype: int64

In [6]:
# checking nan cells in coonsumption
consumption.isna().sum()

customer_id          0
cc_cons_target    5000
dtype: int64

## 3.Merging the data Frames

### 3.1 Merging the dataframes

In [80]:
# - now we will merge all three dataframes on the basis of customer_id.
# - first we will merge customer and behaviour dataframes as customer_be
# - next we will merge the cosumption dataframe with the custoemr_be df and store the resultant dataframe in **final**


customer_behaviour = pd.merge(left=customer, right=behaviour, on='customer_id')
final = pd.merge(left=customer_behaviour, right=consumption, on='customer_id')

### 3.2 Merging different columns and creating new columns in their place

In [81]:
#dropping customer id
final.drop(labels='customer_id',axis=1,inplace=True)

In [82]:
#Total investments
final['investment'] = final['investment_1']+final['investment_2']+final['investment_3']+final['investment_4']

#Total debit amount
final["Total_debit_amount"]=final['debit_amount_apr']+final['debit_amount_may']+final['debit_amount_jun']

#Total Credit Amount
final["Total_credit_amount"]=final['credit_amount_apr']+final['credit_amount_may']+final['credit_amount_jun']

#Total Max Credit amount
final["Total_max_credit_acmout"]=final['max_credit_amount_apr']+final['max_credit_amount_may']+final['max_credit_amount_jun']

#Total Active Loan
final["Totat_active_loan"]= final['personal_loan_active'] + final['vehicle_loan_active']

#Toatal Closed Loan
final["Total_closed_loan"]= final['personal_loan_closed'] + final['vehicle_loan_closed']

#Credit Card expenditure total
final['creditcard_exp']= final['cc_cons_apr'] + final['cc_cons_may'] + final['cc_cons_jun'] 

#Debit Card expenditure total
final['debitcard_exp']= final['dc_cons_apr'] + final['dc_cons_may'] + final['dc_cons_jun']

#credit card use count total
final['cc_count']=final['cc_count_apr']+final['cc_count_may']+final['cc_count_jun']

# debit card use count total
final['dc_count']=final['dc_count_apr']+final['dc_count_may']+final['dc_count_jun']

#debit payments count total
final['debit_count']=final['debit_count_apr']+ final['debit_count_may']+ final['debit_count_jun']

#credit payments count total
final['credit_count']=final['credit_count_apr']+ final['credit_count_may']+ final['credit_count_jun']

In [83]:
extra = ['investment_1','investment_2','investment_3','investment_4',
         'debit_amount_apr','debit_amount_may','debit_amount_jun',
         'credit_amount_apr','credit_amount_may','credit_amount_jun',
         'max_credit_amount_apr','max_credit_amount_may','max_credit_amount_jun',
         'personal_loan_active','vehicle_loan_active',
         'personal_loan_closed','vehicle_loan_closed',
         'cc_cons_apr','cc_cons_may','cc_cons_jun',
         'dc_cons_apr','dc_cons_may','dc_cons_jun',
         'cc_count_apr','cc_count_may','cc_count_jun',
         'dc_count_apr','dc_count_may','dc_count_jun',
         'debit_count_apr','debit_count_may','debit_count_jun',
         'credit_count_apr','credit_count_may','credit_count_jun'
         ]

final.drop(labels=extra,axis=1,inplace=True)
final.head(3)

  account_type gender  age  ... dc_count  debit_count  credit_count
0      current      M   63  ...       80        173.0            46
1      current      M   36  ...       54         85.0            12
2      current      F   28  ...       74        179.0            55

[3 rows x 25 columns]

## 4\. Splitting data into numerical and categorical

In [117]:
#extracting categorical columns from the data
cat_cols = final.select_dtypes(include=['O'])
cat_cols.columns

Index(['account_type', 'gender', 'income', 'loan_enq'], dtype='object')

In [118]:
#extracting numerical columns from the dataset
num_cols = final.columns.difference(['account_type', 'gender', 'income', 'loan_enq'])
num_cols = final[num_cols]
num_cols.columns

Index(['Total_closed_loan', 'Total_credit_amount', 'Total_debit_amount',
       'Total_max_credit_acmout', 'Totat_active_loan', 'age',
       'avg_days_between_transaction', 'card_lim', 'cc_cons_target',
       'cc_count', 'credit_count', 'creditcard_exp', 'dc_count', 'debit_count',
       'debitcard_exp', 'emi_active', 'emp_tenure_years', 'investment',
       'net_banking_flag', 'region_code', 'tenure_with_bank'],
      dtype='object')

## 5\. Outlier removal

In [119]:
from scipy.stats import mstats

for x in num_cols:
  num_cols.loc[:,x] = mstats.winsorize(num_cols[x], limits=[0.05, 0.05])
num_cols.describe()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

       Total_closed_loan  Total_credit_amount  ...   region_code  tenure_with_bank
count            19988.0         19988.000000  ...  19988.000000      19988.000000
mean                 2.0        218895.226873  ...    598.841755          5.496248
std                  0.0        131940.029777  ...    216.308646          2.870521
min                  2.0         67488.640000  ...    249.000000          1.000000
25%                  2.0        121165.895000  ...    424.000000          3.000000
50%                  2.0        181415.685000  ...    623.000000          6.000000
75%                  2.0        276712.802500  ...    799.000000          8.000000
max                  2.0        566279.520000  ...    937.000000         10.000000

[8 rows x 21 columns]

## 6\. label encoding of cat cols

In [120]:
cat_cols = pd.get_dummies(cat_cols)
cat_cols.drop(labels=['account_type_saving','gender_F','income_HIGH'],axis=1,inplace=True)
#renaming columns
cat_cols.columns = ['account_type','gender','income_low','income_medium', 'loan_enq']
cat_cols.head(3)

   account_type  gender  income_low  income_medium  loan_enq
0             1       1           0              1         1
1             1       1           0              1         1
2             1       0           0              1         1

## 7\. Joining cat_cols and num_cols

In [121]:
# joining the num_cols and cat_cols df 
df = pd.concat([num_cols,cat_cols],axis=1)
df.head(3)

   Total_closed_loan  Total_credit_amount  ...  income_medium  loan_enq
0                2.0            475518.75  ...              1         1
1                2.0            496597.52  ...              1         1
2                2.0            110466.00  ...              1         1

[3 rows x 26 columns]

In [122]:
#now we will split the df in two parts. df_predict and df_train.
#df_train will contain entries having numerial values in cc_cons_target
#df_predict will have the rows/customers that we have to predict the output for

#filtering all the rows from final that contain NaN values in cc_cons_target and storing those rows in df_predict.
df_predict = df[df.cc_cons_target.isna()]
#dropping the NaN values of cc_cons_target 
df_predict.drop(labels='cc_cons_target',axis=1,inplace=True)

# droppping  all the rows that are in the df_predict dataframe and storing the result in df_train
df_train = df.drop(df_predict.index)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [123]:
df_train.shape

(14995, 26)

In [124]:
df_predict.shape

(4993, 25)

## 8. Splitting df_train in train_x and train_y

In [125]:
train_x = df_train[['Total_closed_loan', 'Total_credit_amount', 'Total_debit_amount','Total_max_credit_acmout',
                    'Totat_active_loan', 'age','avg_days_between_transaction', 'card_lim','cc_count', 'credit_count',
                    'creditcard_exp', 'dc_count', 'debit_count','debitcard_exp', 'emi_active', 'emp_tenure_years', 
                    'investment','net_banking_flag', 'region_code', 'tenure_with_bank', 'account_type','gender',
                    'income_low', 'income_medium', 'loan_enq']]

train_y = df_train[['cc_cons_target']]

## 9\. Running OLS model on our dataset

In [126]:
### OLS regression
import statsmodels.api as sm

model = sm.OLS(train_y,train_x)

model_fit = model.fit()

print(model_fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         cc_cons_target   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.9897
Date:                Tue, 31 Aug 2021   Prob (F-statistic):              0.474
Time:                        13:12:41   Log-Likelihood:            -1.9354e+05
No. Observations:               14995   AIC:                         3.871e+05
Df Residuals:                   14972   BIC:                         3.873e+05
Df Model:                          22
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
Total_closed_loan             1.229e+04   1635.389      7.517      0.000    9088.432    1.55e+04
Total_credit_amount              0.0051      0.006      0.853      0.394      -0.007       0.017
Total_debit_amount               0.0012      0.007      0.174      0.862      -0.012       0.015
Total_max_credit_acmout          0.0109      0.009      1.175      0.240      -0.007       0.029
Totat_active_loan             1.229e+04   1635.389      7.517      0.000    9088.432    1.55e+04
age                             19.4594     89.386      0.218      0.828    -155.748     194.667
avg_days_between_transaction  -103.8381    145.289     -0.715      0.475    -388.623     180.947
card_lim                        -0.0016      0.005     -0.346      0.730      -0.011       0.008
cc_count                         6.2008     13.470      0.460      0.645     -20.202      32.603
credit_count                    34.1520     25.730      1.327      0.184     -16.281      84.585
creditcard_exp                   0.0394      0.027      1.436      0.151      -0.014       0.093
dc_count                        -0.2649     21.853     -0.012      0.990     -43.099      42.569
debit_count                     -7.0997     13.987     -0.508      0.612     -34.516      20.317
debitcard_exp                   -0.0412      0.052     -0.799      0.424      -0.142       0.060
emi_active                       0.1321      0.086      1.542      0.123      -0.036       0.300
emp_tenure_years              -100.7352    105.894     -0.951      0.341    -308.300     106.829
investment                       0.0016      0.001      1.348      0.178      -0.001       0.004
net_banking_flag               362.3483   1776.376      0.204      0.838   -3119.566    3844.263
region_code                     -8.8222      3.691     -2.390      0.017     -16.057      -1.587
tenure_with_bank               405.2550    278.498      1.455      0.146    -140.634     951.144
account_type                  -657.0057   2224.844     -0.295      0.768   -5017.972    3703.960
gender                         554.0615   2321.406      0.239      0.811   -3996.178    5104.301
income_low                   -2588.2652   3200.667     -0.809      0.419   -8861.965    3685.434
income_medium                -2028.7173   2992.816     -0.678      0.498   -7895.003    3837.569
loan_enq                      6146.9971    817.694      7.517      0.000    4544.216    7749.778
==============================================================================
Omnibus:                     5872.261   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            17851.537
Skew:                           2.122   Prob(JB):                         0.00
Kurtosis:                       6.250   Cond. No.                     4.93e+35
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.95e-56. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

#### Result of OLS regression model
We can see from the above summary that many of the features have a p-value greter than that of 0.05. 

Thus we will remove those features from our model and rerun the OLS model

In [127]:
#removing the top 5 features on the basis of p_value
remove_cols = ['dc_count','Total_debit_amount','net_banking_flag','age','gender']
new_cols = train_x.columns.difference(remove_cols)
train_x = train_x[new_cols]

In [128]:
### OLS regression part 2
model = sm.OLS(train_y,train_x)

model_fit = model.fit()

print(model_fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         cc_cons_target   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.271
Date:                Tue, 31 Aug 2021   Prob (F-statistic):              0.201
Time:                        13:12:57   Log-Likelihood:            -1.9355e+05
No. Observations:               14995   AIC:                         3.871e+05
Df Residuals:                   14977   BIC:                         3.873e+05
Df Model:                          17
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
Total_closed_loan             1.263e+04   1360.245      9.288      0.000    9968.257    1.53e+04
Total_credit_amount              0.0051      0.006      0.851      0.395      -0.007       0.017
Total_max_credit_acmout          0.0110      0.009      1.181      0.238      -0.007       0.029
Totat_active_loan             1.263e+04   1360.245      9.288      0.000    9968.257    1.53e+04
account_type                  -655.9659   2224.426     -0.295      0.768   -5016.113    3704.182
avg_days_between_transaction  -103.6692    145.253     -0.714      0.475    -388.384     181.045
card_lim                        -0.0016      0.005     -0.347      0.728      -0.011       0.008
cc_count                         6.2545     13.466      0.464      0.642     -20.140      32.649
credit_count                    34.1975     25.722      1.329      0.184     -16.221      84.616
creditcard_exp                   0.0396      0.027      1.444      0.149      -0.014       0.093
debit_count                     -7.1197     13.984     -0.509      0.611     -34.529      20.290
debitcard_exp                   -0.0412      0.052     -0.799      0.424      -0.142       0.060
emi_active                       0.1318      0.086      1.539      0.124      -0.036       0.300
emp_tenure_years               -84.3910     74.858     -1.127      0.260    -231.121      62.339
income_low                   -2571.2771   3199.625     -0.804      0.422   -8842.934    3700.380
income_medium                -2008.7142   2991.419     -0.671      0.502   -7872.262    3854.834
investment                       0.0017      0.001      1.354      0.176      -0.001       0.004
loan_enq                      6317.2524    680.123      9.288      0.000    4984.129    7650.376
region_code                     -8.8010      3.689     -2.386      0.017     -16.032      -1.570
tenure_with_bank               405.4583    278.358      1.457      0.145    -140.157     951.074
==============================================================================
Omnibus:                     5872.585   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            17853.601
Skew:                           2.122   Prob(JB):                         0.00
Kurtosis:                       6.251   Cond. No.                     7.62e+22
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.02e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [ ]:
#Total_closed_loan account_type card_lim cc_count debit_count income_low

## VIF
- VIF is used to remove multicollinearity from the dataset. 
- VIF = 1/(1-R^2)

- It computes the R-sq value for every feature against all other features. The more a feature is collinear with other features , more the VIF score is.
- VIF starts at 1 and has no upper limit
- VIF = 1, no correlation between the independent variable and the other variables
- VIF exceeding 5 or 10 indicates high multicollinearity between this independent variable and the others

In [129]:
#R^2 value is determined to find out how well an independent variable is described by the other independent variables. 
#A high value of R^2 means that the variable is highly correlated with the other variables.
#So, the closer the R^2 value to 1, the higher the value of VIF and
# the higher the multicollinearity with the particular independent variable.


# vif = 1/(1-r^2)


# VIF starts at 1 and has no upper limit
# VIF = 1, no correlation between the independent variable and the other variables
# VIF exceeding 5 or 10 indicates high multicollinearity between this independent variable and the others




# Import library for VIF
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)


X = train_x
calc_vif(X)



#Fixing Multicollinearity

# #Dropping one of the correlated features will help in bringing down the multicollinearity between correlated features:
# X = df.drop(['Age','Salary'],axis=1)
# calc_vif(X)

/usr/local/lib/python3.7/dist-packages/statsmodels/regression/linear_model.py:1636: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss

                       variables       VIF
0              Total_closed_loan  0.000000
1            Total_credit_amount  1.000894
2        Total_max_credit_acmout  1.001745
3              Totat_active_loan  0.000000
4                   account_type  1.001049
5   avg_days_between_transaction  1.001097
6                       card_lim  1.000597
7                       cc_count  1.000425
8                   credit_count  1.001492
9                 creditcard_exp  1.001631
10                   debit_count  1.000761
11                 debitcard_exp  1.000823
12                    emi_active  1.001476
13              emp_tenure_years  1.001325
14                    income_low  3.240765
15                 income_medium  3.239876
16                    investment  1.001091
17                      loan_enq  0.000000
18                   region_code  1.000992
19              tenure_with_bank  1.001018